@import "tailwindcss";

.highlighter {
  position: relative;
  display: inline-block;
  isolation: isolate;
  color: white;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -0.1rem;
    background: url("/marker-highlight.svg") center / 100% 100% no-repeat;
    transform: skewY(-1deg) skewX(-1deg);
  }
}

/*get yo ahh outta here bro*/
* {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

*::-webkit-scrollbar {
  display: none; 
}

@theme {
  --color-yummers: #629c62;
  --color-bummers: #2d482d;
  --color-durple: #754B5D;
  --color-headergreen: oklch(65.6% 0.241 354.308); /*CURRENTLYPINK REMEMBER TO CHANGE!!*/
  --animate-reveal: fly-in 0.8s cubic-bezier(0.25, 1, 0.25, 1);
  @keyframes fly-in {
    from {
      opacity: 0;
      transform: translateY(60px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.hover\-green {
  &:hover {
    @media (hover: hover) {
      color: hsl(120, 47%, 27%);
    }
  }
}
